extends layout

block style
  style.
    li, a{
      font-size: 1.5rem;
      margin : 5px;
    }

block content
  h1= title
  p Welcome to #{title}
  div
    a(href="/") Home
  div
    ol
      li
        a(href="/study_css/html/demo_1.html") 선택자
      li
        a(href="/study_css/html/demo_2.html") 부모 자식 선택자
      li
        a(href="/study_css/html/demo_3.html") 가상 클래스 선택자
      li
        a(href="/study_css/html/demo_4.html") 타이포그래피
      li
        a(href="/study_css/html/demo_5.html") Cascading
      li
        a(href="/study_css/html/demo_6.html") Display 속성
      li
        a(href="/study_css/html/demo_7.html") Box Model
      li
        a(href="/study_css/html/demo_8.html") Margin-collapsing 현상
      li
        a(href="/study_css/html/demo_9.html") Position 속성
      li
        a(href="/study_css/html/demo_10.html") Flex 속성
      li
        a(href="/study_css/html/demo_11.html") Float 속성
      li
        a(href="/study_css/html/demo_12.html") 다단 (Multi Column)
      li
        a(href="/study_css/html/demo_13.html") Media Query
      li
        a(href="/study_css/html/demo_14.min.html") Float-Holy Grail Layout
        //- a(href="/study_css/html/demo_14.html") Float-Holy Grail Layout
      li
        a(href="/study_css/html/demo_15.html") Buttons
      li
        a(href="/study_css/html/demo_16.html") Fentello Icon
      li
        a(href="/study_css/html/demo_17.html") Background
      li
        a(href="/study_css/html/demo_18.html") Filter
      li
        a(href="/study_css/html/demo_19.html") Blend
      li
        a(href="/study_css/html/demo_20.html") Transform
      li
        a(href="/study_css/html/demo_21.html") SVG
      li
        a(href="/study_css/html/demo_22.html") Transition