extends layout

block style
  style.
    li, a {
      font-size: 1.5rem;
      margin : 5px;
    }

block content
  h1= title
  p Welcome to #{title}
  div
    a(href="/") Home
  hr
  div
    ol
      li
        a(href="/study_dream_coding/html/demo_1.html") JS New Syntax
      li
        a(href="/study_dream_coding/html/demo_2.html") sync / async / defer
      li
        a(href="/study_dream_coding/html/demo_3.html") Variable
      li
        a(href="/study_dream_coding/html/demo_4.html") Operator
      li
        a(href="/study_dream_coding/html/demo_5.html") Function
      li
        a(href="/study_dream_coding/html/demo_6.html") Object
      li
        a(href="/study_dream_coding/html/demo_7.html") Class
      li
        a(href="/study_dream_coding/html/demo_8.html") Array
      li
        a(href="/study_dream_coding/html/demo_9.html") JSON
      li
        a(href="/study_dream_coding/html/demo_10.html") Callback
      li
        a(href="/study_dream_coding/html/demo_11.html") Promise
      li
        a(href="/study_dream_coding/html/demo_12.html") async / await
      li
        a(href="/study_dream_coding/html/demo_13.html") Console
      li
        a(href="/study_dream_coding/html/demo_14.html") Debug
      li
        a(href="/study_dream_coding/html/demo_15.html") Layout
