extends layout

block style
  style.
    li, a {
      font-size: 1.5rem;
      margin : 5px;
    }

block content
  h1= title
  p Welcome to #{title}
  div
    a(href="/") Home
  hr
  div
    ol
      li
        a(href="/study_dream_coding/html/demo_1.html") sync / async / defer
      li
        a(href="/study_dream_coding/html/demo_2.html") Variable

