extends layout

block style
  style.
    li, a {
      font-size: 1.5rem;
      margin : 5px;
    }

block content
  h1= title
  p Welcome to #{title}
  div
    a(href="/") Home
  hr
  div
    ol
      li
        a(href="/study_web_browser/html/demo_1.html") BOM (Browser Object Model)
      li
        a(href="/study_web_browser/html/demo_2.html") DOM (Document Object Model)
      li
        a(href="/study_web_browser/html/demo_3.html") JQuery
      li
        a(href="/study_web_browser/html/demo_4.html") Element 객체
      li
        a(href="/study_web_browser/html/demo_5.html") JQuery 객체
      li
        a(href="/study_web_browser/html/demo_6.html") Event
      li
        a(href="/study_web_browser/html/demo_7.html") JQuery Event
      li
        a(href="/study_web_browser/html/demo_8.html") AJAX
      li
        a(href="/study_web_browser/html/demo_9.html") JSON
      li
        a(href="/study_web_browser/html/demo_10.html") JQuery Ajax
      li
        a(href="/study_web_browser/html/demo_11.html") Node 객체
      li
        a(href="/study_web_browser/html/demo_12.html") JQuery Node 객체
      li
        a(href="/study_web_browser/html/demo_13.html") 문자열 Node 제어
      li
        a(href="/study_web_browser/html/demo_14.html") Document 객체
      li
        a(href="/study_web_browser/html/demo_15.html") Text 객체
      li
        a(href="/study_web_browser/html/demo_16.html") 문서의 기하하적 특성
      li
        a(href="/study_web_browser/html/demo_17.html") 속성 API
      li
        a(href="/study_web_browser/html/demo_18.html") JQuery 속성 API



