
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-off:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */